{% extends 'base.html' %}

{% load static %}

{% block css%}
    <link rel="stylesheet" href=" {% static 'en/css/brand-single.css'%} ">
{% endblock css%}





{% block body %}





        <!--=====================================
                    BANNER PART START
        =======================================-->
            <section class="single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
                <div class="container">
                    <h2>Brand Single</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'products:brand_list' %}">brand-list</a></li>
                        <li class="breadcrumb-item active" aria-current="page">brand-single</li>
                    </ol>
                </div>
            </section>
            <!--=====================================
                        BANNER PART END
            =======================================-->


            <!--=====================================
                      BRAND SINGLE PART START
            =======================================-->
            <div class="brand-single">
                <a href="#"><img src="{{brand.image.url }}" alt="brand"></a>
                <a href="#"><h3>{{brand.name}}</h3></a>
                <ul>
                    <li class="fas fa-star active"></li>
                    <li class="fas fa-star active"></li>
                    <li class="fas fa-star active"></li>
                    <li class="fas fa-star active"></li>
                    <li class="fas fa-star"></li>
                    <li class="total">(163 ratings)</li>
                </ul>
                <p>({{object.product_count}} items)</p>
            </div>
            <!--=====================================
                      BRAND SINGLE PART END
            =======================================-->


            <!--=====================================
                        SHOP PART START
            =======================================-->
            <section class="inner-section shop-part">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="top-filter">
                                <div class="filter-show">
                                    <label class="filter-label">Show :</label>
                                    <select class="form-select filter-select">
                                        <option value="1">12</option>
                                        <option value="2">24</option>
                                        <option value="3">36</option>
                                    </select>
                                </div>
                                <div class="filter-short">
                                    <label class="filter-label">Short by :</label>
                                    <select class="form-select filter-select">
                                        <option selected>default</option>
                                        <option value="3">trending</option>
                                        <option value="1">featured</option>
                                        <option value="2">recommend</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-5">

                        {% for item in object_list %}
                                <div class="col">
                                    <div class="product-card">
                                        <div class="product-media">
                                            <div class="product-label">
                                                <label class="label-text new">{{item.flag}}</label>
                                            </div>
                                            <button class="product-wish wish">
                                                <i class="fas fa-heart"></i>
                                            </button>
                                            <a class="product-image" href="product-video.html">
                                                <img src="{{item.image.url}}" alt="product">
                                            </a>
                                            <div class="product-widget">
                                                <a title="Product Compare" href="compare.html" class="fas fa-random"></a>
                                                <a title="Product Video" href="https://youtu.be/9xzcVxSBbG8" class="venobox fas fa-play" data-autoplay="true" data-vbtype="video"></a>
                                                <a title="Product View" href="#" class="fas fa-eye" data-bs-toggle="modal" data-bs-target="#product-view"></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="product-rating">
                                                <i class="icofont-star {% if item.get_avg_rate.rate_avg == 1 or item.get_avg_rate.rate_avg == 2 or item.get_avg_rate.rate_avg == 3 or item.get_avg_rate.rate_avg == 4 or item.get_avg_rate.rate_avg == 5 %}active{% endif %} "></i>
                                                <i class="icofont-star {% if item.get_avg_rate.rate_avg == 2 or item.get_avg_rate.rate_avg == 3 or item.get_avg_rate.rate_avg == 4 or item.get_avg_rate.rate_avg == 5 %}active{% endif %} "></i>
                                                <i class="icofont-star {% if item.get_avg_rate.rate_avg == 3 or product.get_avg_rate.rate_avg == 4 or item.get_avg_rate.rate_avg == 5 %}active{% endif %} "></i>
                                                <i class="icofont-star {% if item.get_avg_rate.rate_avg == 4 or item.get_avg_rate.rate_avg == 5 %}active{% endif %} "></i>
                                                <i class="icofont-star {% if item.get_avg_rate.rate_avg == 5 %}active{% endif %} "></i>
                                                <a href="item-video.html">({{item.product_review.all|length}})</a>
                                                <p> {{item.get_avg_rate.rate_avg}} </p>
                                            </div>
                                            <h6 class="product-name">
                                                <a href="product-video.html">{{item}}</a>
                                            </h6>
                                            <h6 class="product-price">
                                                <del></del>
                                                <span>{{item.price}}<small>/piece</small></span>
                                            </h6>
                                            <button class="product-add" title="Add to Cart">
                                                <i class="fas fa-shopping-basket"></i>
                                                <span>add</span>
                                            </button>
                                            <div class="product-action">
                                                <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                                <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                                <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                       
                    </div>
                {% if is_paginated %}
                    <div class="row">

                        
                        <div class="col-lg-12">
                            <div class="bottom-paginate">
                                <p class="page-info">Showing 12 of 60 Results</p>
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                            <li class="page-item">

                                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                                    <i class="fas fa-long-arrow-alt-left"></i>
                                                </a>
                                            </li>
                                        {% endif %}


                                            {% for i in paginator.page_range %}
                                                {% if page_obj.number == i %}


                                                        <li class="page-item"><a class="page-link active" href="#">{{ i }}</a></li>

                                                    {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3 ' %}

                                                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a> </li>

                                                    {% endif %}
                                            {% endfor %}

                                        {% if page_obj.has_next %}

                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">

                                                        <i class="fas fa-long-arrow-alt-right"></i>
                                                 </a>
                                                </li>
                                            {% endif %}

                                    </ul>
                                </div>
                            </div>
                        
                    </div>
                {% endif %}
                </div>
            </section>
            <!--=====================================
                        SHOP PART END
            =======================================-->
        
{% endblock body%}
