{% extends 'base.html' %}

{% block body %}
    

        <!--=====================================
                    BANNER PART START
        =======================================-->
        <section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
            <div class="container">
                <h2>wishlist</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'settings:home' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'products:product_list' %}">shop grid</a></li>
                    <li class="breadcrumb-item active" aria-current="page">wishlist</li>
                </ol>
            </div>
        </section>
        <!--=====================================
                    BANNER PART END
        =======================================-->


        <!--=====================================
                    WISHLIST PART START
        =======================================-->
        <section class="inner-section wishlist-part">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-scroll">
                            <table class="table-list">
                                <thead>
                                    <tr>
                                        <th scope="col">Serial</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">description</th>
                                        <th scope="col">status</th>
                                        <th scope="col">shopping</th>
                                        <th scope="col">action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                        
                                        {% for item  in  wishlist %}
                                            
                                            
                                        
                                            <tr>
                                                <td class="table-serial"><h6>{{item.product_wishlist.slug}}</h6></td>
                                                <td class="table-image"><img src="{{item.product_wishlist.image.url}}" alt="product"></td>
                                                <td class="table-name"><h6>{{item.product_wishlist.user}}</h6></td>
                                                <td class="table-price"><h6>{{item.product_wishlist.price}}<small>/kilo</small></h6></td>
                                                <td class="table-desc"><p>{{}<a href="product-video.html">read more</a></p></td>
                                                <td class="table-status"><h6 class="stock-out">stock out</h6></td>
                                                <td class="table-shop">
                                                    <form  method="post" action="{% url 'orders:add_to_cart'%}">
                                                        {% csrf_token %}
                                                        <input style="background-color: aliceblue;" title="Enter Your Quantity" type="text" name="quantity" value="1">
                                                        <input type="hidden" name="product_id" value="{{item.id}}"> 

                                                        <button class="product-add" title="Add to Cart">add to cart</button>
                                                    </form>
                                                    <div class="product-action">
                                                        <button class="action-minus" title="Quantity Minus"><i class="icofont-minus"></i></button>
                                                        <input class="action-input" title="Quantity Number" type="text" name="quantity" value="1">
                                                        <button class="action-plus" title="Quantity Plus"><i class="icofont-plus"></i></button>
                                                    </div>
                                                </td>
                                                <td class="table-action">
                                                    <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view"><i class="fas fa-eye"></i></a>
                                                    <a class="trash" href="#" title="Remove Wishlist"><i class="icofont-trash"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}


                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mt-5">
                            <button class="btn btn-outline">
                                Load more items
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================
                    WISHLIST PART END
        =======================================-->

{% endblock body %}
