{% extends "accounts.html" %}

{% block body %}
  <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
          <div class="user-form-logo">
              <a href="index.html"><img src="{{data.logo.url}}" alt="logo"></a>
          </div>
          <div class="user-form-card">
              <div class="user-form-title">
                  <h2>any issue?</h2>
                  <p>Make sure your current password is strong</p>
              </div>
              <form class="user-form" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                      <input type="password" class="form-control" username="old_password" placeholder="Old password">
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control" name="new_password1" placeholder="Current password">
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control" name="new_password2" placeholder="reapet password">
                  </div>
                  <div class="form-button">
                      <button type="submit">change password</button>
                  </div>
              </form>
          </div>
          <div class="user-form-remind">
              <p>Go Back To<a href="{% url 'login' %}">login here</a></p>
          </div>
          <div class="user-form-footer">
              <p>Greeny | &COPY; Copyright by <a href="#">Mironcoder</a></p>
          </div>
      </div>
{% endblock %}