{% extends "accounts.html" %}

{% block body %}
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
          <div class="user-form-logo">
              <a href="index.html"><img src="{{data.logo.url}}" alt="logo"></a>
          </div>
          <div class="user-form-card">
              <div class="user-form-title">
                  <h2>worried?</h2>
                  <p>No Problem! Just Follow The Simple Way</p>
              </div>
              <form class="user-form">
                  <div class="form-group">
                      <input type="email" class="form-control" name="email" placeholder="Enter your email">
                  </div>
                  <div class="form-button">
                      <button type="submit">get reset link</button>
                  </div>
              </form>
          </div>
          <div class="user-form-remind">
              <p>Go Back To<a href="{% url 'login' %}">login here</a></p>
          </div>
          <div class="user-form-footer">
              <p>Greeny | &COPY; Copyright by <a href="#">{{data.name}}</a></p>
          </div>
      </div>
    </div>
{% endblock %}
