{% extends "accounts.html" %}

{% load django_bootstrap5 %}

{% block body %}



        <section class="user-form-part">
            <div class="container">
                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-12 col-lg-12 col-xl-10">
                        <div class="user-form-logo">
                            <a href="index.html"><img src="{{data.logo.url}}" alt="logo"></a>
                        </div>
                        <div class="user-form-card">
                            <div class="user-form-title">
                                <h2>Activate Your Account</h2>
                               
                            </div>
                            <div class="user-form-group">
                              
                               
                                <form class="user-form" method="post">
                                    {% csrf_token %}
                                    {% bootstrap_form form %}
                                    <div class="form-button">
                                        <button type="submit">Activate</button>
                                    </div>
                                </form>
                            </div>

                            <div class="form-button">
                                <p>Do You Have account?<a href="{% url 'login' %}">login here</a></p>
                            </div>
                        </div>
                       
                        <div class="user-form-footer">
                            <p>Greeny | &COPY; Copyright by <a href="#">{{data.name}}</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

 

{% endblock %}
